h1 {
    color: red;
}

body {
    padding-top: 50px;
}

.container-full {
    margin: 0 auto;
    width: 100%;
}

/* left action menu style */
.action-menu {
    position: fixed;
    padding-top: 10px;
    padding-left: 20px;
}

.left-bordered {
    border-left-style: solid;
    border-left-width: 1px;
    border-color: gray;
}

.right-bordered {
    border-right-style: solid;
    border-right-width: 1px;
    border-color: gray;
}

.offsetted-btn {
    padding-left: 10px;
}

.right-offset {
    padding-right: 5px;
}

.left-offset {
    padding-left: 5px;
}