h1 {
    color: red;
}

body {
    background-color: #e7e7e7;
}

.day {
    width: 150px;
    border-right: 1px solid #e7e7e7;
    float: left;
    background-color: white;
    
}

.scale {
    width: 50px;
    float: left;
    background-color: white;
}

.scale-row {
    font-size: small;
    height: 30px;
    text-align: right;
}

.scale-top {
    height: 29px;
    text-align: center;
}

.hour {
    /*background-color: lightcoral;*/
    border-bottom: 1px solid #e7e7e7;
    height: 30px;
}

.day-top {
    border-bottom: 1px solid #bababa;
    height: 30px;
    text-align: center;
}