h1 {
    color: red;
}

body {
    background-color: #e7e7e7;
}

.scale-row {
    font-size: smaller;
    text-align: right;
    background-color: #e7e7e7;
    padding-right: 5px;
    border-bottom: 1px solid #e7e7e7;
}

.scale-header {
    text-align: center;
    line-height: 30px;
    background-color: #e7e7e7;
}

#days-table {
    border-spacing: 0;
    background-color: white;
}

.tr-hour {
    height: 7px;
}

.quarter{
    width: 150px;
    border-left: 1px solid #e7e7e7;
}

.hour {
    border-bottom: 1px solid #e7e7e7;
}

.day-header {
    border-bottom: 1px solid #e7e7e7;
    border-left: 1px solid #e7e7e7;
    line-height: 30px;
    text-align: center;
    font-weight: normal;
}

.task {
    position: absolute;
    background: lightskyblue;
    border-style: solid;
    border-color: blue;
    border-width: 1px;
    border-radius: 5px;
    margin: 2px;
}